.draw-container{
  height: 100vh;
  max-height: 100vh;

}
.drawer-container__drawer{
  width: 20%;

}

.toolbar {
  width: 100%;
  height: 70px;
  // background-color: red;
}

.mat-drawer{
  background-color: #ffffff;
}
