.delete-button {
  width: unset;
  padding: 8px 26px;
  border-radius: 6px;
  background-color: rgb(172, 0, 0);
  margin: 3px;
  border: none;
  color: white;
}
.cancel-button {
  width: unset;
  padding: 8px 26px;
  border-radius: 6px;
  background-color: grey;
  margin: 3px;
  border: none;
  color: white;
}
