<div class="table-container">
  <div class="row-container">
    <span class="title">Nombre</span>
    <span>{{asociado?.nombre}}</span>
  </div>
  <div class="row-container">
    <span class="title">Apellidos</span>
    <span class="element">{{asociado?.apellido1}} {{asociado?.apellido2}}</span>
  </div>
  <div class="row-container">
    <span class="title">DNI</span>
    <span class="element">{{asociado?.dni}}</span>
  </div>
  <div class="row-container">
    <span class="title">Fecha Nacimiento</span>
    <span class="element">{{asociado?.fechaNacimiento}}</span>
  </div>
  <div class="row-container">
    <span class="title">Fecha Alta</span>
    <span class="element">{{asociado?.fechaAlta}}</span>
  </div >
  <div class="row-container">
    <span class="title">Fecha Baja</span>
    <span class="element">{{asociado?.fechaBaja}}</span>
  </div>
</div>
