.form_container {
  margin: 2%;
}
.button_next {
  padding: 15px 26px;
  border-radius: 6px;
  background-color: #AA4CE4;
  color: white;
  border: none;
  margin: 2px;
}

.button_back {
  padding: 15px 26px;
  border-radius: 6px;
  border: none;
  margin: 2px

}
