.toolbar-container {
  background-color: #AA4CE4;
  color: white;
}

.toolbar-button {
  color: white;
  background-color: #00000000;
  border: none;
}

.main-container{
  display: flex;
  flex-direction: column;
  margin: 2%;
}
