<div class="table-container">
  <div class="row-container">
    <span class="title">Calle</span>
    <span>{{direccion?.calle}}</span>
  </div>
  <div class="row-container">
    <span class="title">Numero</span>
    <span class="element">{{direccion?.numero}}</span>
  </div>
  <div class="row-container">
    <span class="title">Portal</span>
    <span class="element">{{direccion?.portal}}</span>
  </div>
  <div class="row-container">
    <span class="title">Piso</span>
    <span class="element">{{direccion?.piso}}</span>
  </div>
  <div class="row-container">
    <span class="title">Puerta</span>
    <span class="element">{{direccion?.letra}}</span>
  </div >
  <div class="row-container">
    <span class="title">Localidad</span>
    <span class="element">{{direccion?.localidad}}</span>
  </div>
  <div class="row-container">
    <span class="title">Provincia</span>
    <span class="element">{{direccion?.provincia}}</span>
  </div>
  <div class="row-container">
    <span class="title">Codigo Postal</span>
    <span class="element">{{direccion?.codigoPostal}}</span>
  </div>
  <div class="row-container">
    <span class="title">Pais</span>
    <span class="element">{{direccion?.pais}}</span>
  </div>

</div>
