.display-container{
  display: flex;
  margin: 2%;
  }

.table-container{
  border:1px solid black;
  margin-bottom: 1%;
  display: flex;
  border: round($number: 13);
  border-radius: 8px;
}

.row-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  padding-bottom: 2px;
  padding-top: 2px;
  border-bottom: 1px solid black;
}

.element {
  padding-bottom: 4px;
  padding-top: 4px;
}

.info-container{
  width: 30vw;
}
.historial-container{
  padding-left: 1%;
  width: 100%;

}

