<div class="menunavegacion-container">
  <button mat-button class="menunavegacion-container__button" routerLinkActive="Active"
  routerLink="/asociados">
      <mat-icon class="menunavegacion-container__icon" >accessibility</mat-icon>
      Asociados
  </button>

  <button mat-button class="menunavegacion-container__button" routerLinkActive="Active"
  routerLink="/hospitales">
      <mat-icon class="menunavegacion-container__icon">apartment</mat-icon>
      Hospitales
  </button>

  <button mat-button class="menunavegacion-container__button" routerLinkActive="Active"
  routerLink="/ventas" disabled>
      <mat-icon class="menunavegacion-container__icon">shopping_cart</mat-icon>
      Ventas
  </button>
</div>
