
<form [formGroup]="formularioEdicion">
  <div>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="" formControlName="nombre">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Primer apellido</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="apellido1">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Segundo apellido</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="apellido2">
    </mat-form-field>

    <mat-form-field>
      <mat-label>DNI</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="dni">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha Nacimiento</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="fechaNacimiento">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha Fecha Alta</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="fechaAlta">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Calle</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="calle">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Numero</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="numero">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Portal</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="portal">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Piso</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="piso">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Puerta</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="puerta">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Localidad</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="localidad">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Provincia</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="provincia">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pais</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="pais">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Codigo Postal</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="codigoPostal">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Titular</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="titular">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Modalidad Pago</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="modalidadPago">
    </mat-form-field>
    <mat-form-field>
      <mat-label>IBAN</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="iban">
    </mat-form-field>
  </div><div>
    <mat-form-field>
      <mat-label>Patologia</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="patologia">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha Diagnostico</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="fechaDiagnostico">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tratamiento</mat-label>
      <input matInput placeholder="Just a placeholder" formControlName="tratamiento">
    </mat-form-field>
  </div>
  <div>
    <button mat-button class="button_back">Back</button>
    <button mat-button class="button_next" type="button" routerLink='/asociados'>Submit</button>
  </div>
</form>


