<mat-toolbar class="toolbar-container">
  <button mat-button class="toolbar-button" routerLink="">
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>

<div class="main-container">
  <app-tabla-info-personal [asociado]="asociado"></app-tabla-info-personal>
  <app-tabla-direccion [direccion]="asociado?.direccion"></app-tabla-direccion>
  <app-tabla-datos-bancarios [datosBancarios]="asociado?.datosBancarios"></app-tabla-datos-bancarios>
  <app-tabla-datos-medicos [datosMedicos]="asociado?.datosMedicos"></app-tabla-datos-medicos>
</div>
